<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sara.jobandtutionfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".register" />
        <activity android:name=".profilefrag" />
        <activity android:name=".partfrag" />
        <activity android:name=".fullfrag" />
        <activity android:name=".settingfrag" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity android:name=".changePass" />
        <activity android:name=".updateProfile" />
        <activity android:name=".registersave" />
        <activity android:name=".partfarag_givepost" />
        <activity android:name=".partfrag_otherspost" />
        <activity android:name=".FullTimePostPage" />
        <activity android:name=".FullTimeJob" />
        <activity android:name=".selectCls" />
        <activity android:name=".bookSelections" />
        <activity android:name=".showCv" />
        <activity android:name=".forgetpassword" />
        <activity android:name=".Coachx" />
        <activity android:name=".CoachxPostPage" />
        <activity android:name=".CoachxJob" />
        <activity android:name=".HomeTeachx" />
        <activity android:name=".HomexPostPage" />
        <activity android:name=".HomexJob"></activity>
    </application>

</manifest>